<article class="fresh-post">
  <div class="fresh-post__img">
    <img src="https://user-images.githubusercontent.com/212252/55680682-7a2de180-5925-11e9-848d-98ce55391921.png" alt="ElastiQuill - modern blog engine">
  </div>
  <div class="post-content">
      <h5 class="post-title">Welcome!<br></h5>
      <div class="post-author__container d-flex justify-content-between">
      </div>
      <div class="post-excerpt">
<p>ElastiQuill is a modern blog engine built on top of Elasticsearch.</p>
<p>This is a demo blog engine which is open for all. Feel free to navigate around, look at the <a href="/admin">admin interface</a> and also add and edit some posts and pages.</p>
<p>Sources and usage instructions are available on <a href="https://github.com/BigDataBoutique/ElastiQuill">https://github.com/BigDataBoutique/ElastiQuill</a></p>
      </div>
      <div class="post-badges">
      </div>      
  </div>
</article>
