<div class="col-md-12">
  <h1 class="content-title">Contact form</h1>
<p>Sources and usage instructions are available on <a href="https://github.com/BigDataBoutique/ElastiQuill">https://github.com/BigDataBoutique/ElastiQuill</a></p>
<p>The contact form below isn't going to work in this demo website, but it will work on your own hosted blog!</p>
  {{> contact-form}}
</div>
